<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<%= user._id %>" method="post">

        <input type="text" name="name" placeholder="UserName" value="<%= user.name %>">
        <input type="email" name="email" placeholder="Email" value="<%= user.email %>">
        <input type="password" name="password" placeholder="Password" value="<%= user.password %>">
        <button>Register</button>
    </form>
</body>
</html>